<!DOCTYPE html>
<html lang="en">
  <head>
    <!-- {% load static %} -->

    <script src="https://code.jquery.com/jquery-3.2.1.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
    <script src="https://apis.openapi.sk.com/tmap/jsv2?version=1&appKey=l7xx8a58f1a7dbe842c5b068e79f521e2224"></script>
    <!-- <script defer src="{% static 'javascript/script.js' %}"></script>
    <link rel="stylesheet" href="{% static 'css/main.css' %}"> -->

    <style>
      body {
        margin: 0;
      }

      ::-webkit-scrollbar {
        display: none;
      }

      .App {
        text-align: center;
        position: fixed;
        z-index: -1;
      }

      .App-logo {
        height: 40vmin;
        pointer-events: none;
      }

      @media (prefers-reduced-motion: no-preference) {
        .App-logo {
          animation: App-logo-spin infinite 20s linear;
        }
      }

      .App-header {
        background-color: #282c34;
        min-height: 100vh;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        font-size: calc(10px + 2vmin);
        color: white;
      }

      .App-link {
        color: #61dafb;
      }

      @keyframes App-logo-spin {
        from {
          transform: rotate(0deg);
        }
        to {
          transform: rotate(360deg);
        }
      }

      .search {
        position: fixed;
        width: 100%;
        z-index: 1;
        align-items: center;
        background-color: transparent;
      }

      .search_open_container {
        display: flex;
        justify-content: center;
        height: 40px;
        line-height: 40px;
        margin-top: 10px;
      }

      .search_open {
        width: 300px;
        background-color: white;
        border: 1px solid #cecece;
        border-radius: 15px;
        cursor: default;
      }

      .search--input {
        margin: 10px auto;
        width: 200px;
        height: 30px;
        border: 1px solid gray;
        background: white;
        border-radius: 10px;
      }

      .search_select {
        position: fixed;
        width: 100%;
        height: 30%;
        background-color: white;
        bottom: 0;
        z-index: 1;
        overflow-y: scroll;
      }

      .btn {
        background-color: #226bff;
        color: white;
        border: 1px solid transparent;
        width: 60px;
        height: 30px;
        border-radius: 10px;
        margin-left: 5px;
      }

      .distance {
        position: fixed;
        z-index: 20;
        left: 50%;
        bottom: 5%;
        transform: translate(-50%, 0);
        background: #226bff;
        color: white;
        width: 300px;
        border-radius: 5px;
      }

    </style>
    <title>Document</title>
  </head>
  <body>
    <div class="App">
      <div class="search">
        <div class="search_open_container" >
        <div class="search_open" onclick="searchSwitch()">위치 검색</div>

        </div>
        <button id="btn_police" class="btn">
          파출소
        </button>
        <button id="btn_navigate" class="btn" style="display: none;">
          안내
        </button>
        <button id="btn_cctv_onoff" class="btn" onclick="cctvSwitch()">
          CCTV 가리기
        </button>
        <div class="search_select" id="search_select"  style="display:none">
          <input
          class="search--input"
          type="text"
          id="searchKeyword"
          name="searchKeyword"></input>
          <button id="btn_select" class="btn">
            검색
          </button>

          <button onclick='removeAll()' class="btn">
            초기화
          </button>
          <div id="search_result"></div>
        </div>


      </div>
      <div
        id="TMapApp"
        style="height: 100%;
        width: 100%;
        position: fixed;
        z-index: 0"
      />
      <div id="result" class="distance" />
    </div>
  </body>
</html>
<script type="text/javascript">


  let coords = [];

  let positions = [];
  let markers = [];

  let marker_search_arr = [];
  let marker_cctv_arr = [];
  let counter = 0;

  // 검색 결과 중 선택된 마커와 그 마커의 좌표
  let marker_selected;
  let selected_position;
  let marker_selectedArr = [];

  // 경로 도형을 저장하는 어레이
  let line_info_arr = [];
  let line_result_arr = [];

  // 보행자 경로 포인트 마커 (경로 선이 꺾이는 지점)
  let marker_points;
  let marker_points_arr = [];

  // 앱을 켠 순간의 현재 위치 좌표
  let marker_s;

  let current_position;
  let lat_current;
  let lon_current;

  let lat_clicked;
  let lon_clicked;

  //cctv 마커 활성화/비활성화
  let onoff = 1;

  let search_onoff = 0;

  const search_select = document.getElementById("search_select");
  const search_result = document.getElementById("search_result");
  const btn_navigate = document.getElementById("btn_navigate");
  const btn_cctv_onoff = document.getElementById("btn_cctv_onoff");

  const searchOpen = () => {
    search_select.style.display = "block";
  };

  const searchClose = () => {
    search_select.style.display = "none";
  };

  const searchSwitch = () => {
    if (search_onoff === 0) {searchOpen(); search_onoff = 1}
    else {searchClose(); search_onoff = 0;}

  }

  const navigateOpen = () => {
    btn_navigate.style.display = "inline";
  };

  const expected = document.getElementById("result");

  // 검색을 통해 목적지를 정했는지 판단
  let searched = false;

  let map = new Tmapv2.Map("TMapApp", {
    center: new Tmapv2.LatLng(37.59644996896789, 127.06004762649577),
    width: "100%",
    height: "100%",
    zoom: 18,
  });

  axios
    .get("http://127.0.0.1:8000/cctv/")
    .then((response) => {
      coords = [...response.data];
      activateCCTVMarkers();

    })
    .catch(function (error) {
      console.log(error);
    });

  //------ 현재 위치에 마커 생성 ------//
  //------ 외대를 시작위치로 임시 설정 ------//
  if (navigator.geolocation) {
    navigator.geolocation.getCurrentPosition((position) => {
      // lat_current = position.coords.latitude;
      // lon_current = position.coords.longitude;
      lat_current = 37.59644996896789;
      lon_current = 127.06004762649577;
      current_position = new Tmapv2.LatLng(lat_current, lon_current);
      marker_s = new Tmapv2.Marker({
        position: current_position,
        icon: "http://tmapapi.sktelecom.com/upload/tmap/marker/pin_r_m_s.png",
        iconSize: new Tmapv2.Size(24, 38),
        draggable: true,
        map: map,
      });
      map.setCenter(new Tmapv2.LatLng(lat_current, lon_current));
      map.setZoom(18);
    });
  }
  //------ --------------- ------//

  const currPosition = () => {
    if (navaigator.geolocation) {
      navigator.geolocation.getCurrentPosition((position) => {
        lat_current = position.coords.latitude;
        lon_current = position.coords.longitude;

        current_position = new Tmapv2.LatLng(lat_current, lon_current);

        map.setCenter(new Tmapv2.LatLng(lat_current, lon_current));
        map.setZoom(18);
      });
    }
  };

  //------ 클릭시 마커 생성 ------//

  map.addListener("click", (e) => {
    searched = false;
    removeLine();
    removeMarkers();

    navigateOpen();
    searchClose();

    lat_clicked = e.latLng.lat();
    lon_clicked = e.latLng.lng();
    console.log(lat_clicked, lon_clicked)

    let marker_e = new Tmapv2.Marker({
      position: new Tmapv2.LatLng(lat_clicked, lon_clicked), //Marker의 중심좌표 설정.
      icon: "http://tmapapi.sktelecom.com/upload/tmap/marker/pin_r_m_e.png",
      iconSize: new Tmapv2.Size(24, 38),
      map: map,
    });
    markers.push(marker_e);
  });
  //------ --------- ------//

  //------ 명칭 검색 후 마커 생성 ------//
  $("#btn_select").on("click", () => {
    let searchKeyword = $("#searchKeyword").val();
    removeLine();
    removeMarkers();

    axios({
      method: "GET",
      url: "https://apis.openapi.sk.com/tmap/pois?version=1&format=json&callback=result",
      async: false,
      // axios는 get으로 파라미터 전달 시 data 대신 params를 써야
      params: {
        appKey: "l7xx2eff6322cd2944cab62446d299f7f6e3",
        searchKeyword: searchKeyword,
        resCoordType: "EPSG3857",
        reqCoordType: "WGS84GEO",
        count: 10,
      },
    }).then((response) => {
      let resultpoisData = response.data.searchPoiInfo.pois.poi;

      removeSearchMarkers();

      let poi_list = "";
      let positionBounds = new Tmapv2.LatLngBounds();

      resultpoisData.forEach((e, i) => {
        let noorLat = Number(e.noorLat);
        let noorLon = Number(e.noorLon);
        let name = e.name;

        let pointCng = new Tmapv2.Point(noorLon, noorLat);
        let projectionCng = new Tmapv2.Projection.convertEPSG3857ToWGS84GEO(
          pointCng
        );

        let lat = projectionCng._lat;
        let lon = projectionCng._lng;

        let markerPosition = new Tmapv2.LatLng(lat, lon);

        let marker_search = new Tmapv2.Marker({
          position: markerPosition,

          icon:
            "http://tmapapi.sktelecom.com/upload/tmap/marker/pin_b_m_" +
            i +
            ".png",
          iconSize: new Tmapv2.Size(24, 38),
          title: name,
          map: map,
          index: i,
        });

        marker_search.index = i;

        marker_search.addListener("click", () => {
          searched = true;
          selected_position = marker_search.getPosition();
          searchOpen();
          removeMarkers();
          removeSearchMarkers();
          navigateOpen();
          marker_selected = new Tmapv2.Marker({
            position: selected_position,

            icon: "http://tmapapi.sktelecom.com/upload/tmap/marker/pin_r_m_e.png",

            iconSize: new Tmapv2.Size(24, 38),
            title: name,
            map: map,
            index: i,
          });
          marker_selectedArr.push(marker_selected);
        });

        marker_search_arr.push(marker_search);
        positionBounds.extend(markerPosition); // LatLngBounds의 객체 확장

        poi_list += `<div><img src='http://tmapapi.sktelecom.com/upload/tmap/marker/pin_b_m_${i}.png' style='vertical-align:middle;'/><span>${name}</span>
       </div>`;
      });
      search_result.innerHTML = poi_list;

      map.panToBounds(positionBounds); // 확장된 bounds의 중심으로 이동시키기
      map.zoomOut();
    });
  });

  //-------//

  //------ 가까운 파출소 ------//
  $("#btn_police").on("click", () => {
    searched = true;
    removeLine();
    removeMarkers();
    searchClose();

    $.ajax({
      method: "GET", // 요청 방식
      url: "https://apis.openapi.sk.com/tmap/pois/search/around?version=1&format=json&callback=result", // url 주소
      data: {
        categories: "파출소",
        resCoordType: "EPSG3857",
        searchType: "name",
        searchtypCd: "A",
        radius: 1,
        reqCoordType: "WGS84GEO",
        centerLon: lon_current,
        centerLat: lat_current,
        appKey: "l7xx2eff6322cd2944cab62446d299f7f6e3",
        count: 20,
      },
      success: (response) => {
        counter++;
        let resultpoisData = response.searchPoiInfo.pois.poi;

        // 2. 기존 마커, 팝업 제거
        removeSearchMarkers();

        let positionBounds = new Tmapv2.LatLngBounds(); //맵에 결과물 확인 하기 위한 LatLngBounds객체 생성

        let minDi = 99999;
        let finalPosition;
        let markerPosition;
        let name;
        // 3. POI 마커 표시
        resultpoisData.forEach((e) => {
          let noorLat = Number(e.noorLat);
          let noorLon = Number(e.noorLon);
          name = e.name;

          let pointCng = new Tmapv2.Point(noorLon, noorLat);
          let projectionCng = new Tmapv2.Projection.convertEPSG3857ToWGS84GEO(
            pointCng
          );

          let lat = projectionCng._lat;
          let lon = projectionCng._lng;

          markerPosition = new Tmapv2.LatLng(lat, lon);
          let di = current_position.distanceTo(markerPosition);

          if (di < minDi) {
            minDi = di;
            finalPosition = markerPosition;
          }
        });

        let marker_search = new Tmapv2.Marker({
          position: markerPosition,
          //icon : "http://tmapapi.sktelecom.com/upload/tmap/marker/pin_b_m_a.png",
          icon: "https://cdn2.iconfinder.com/data/icons/wsd-map-markers-2/512/wsd_markers_65-1024.png",
          iconSize: new Tmapv2.Size(38, 38),
          map: map,
        });

        marker_search.addListener("click", () => {
          searched = true;
          selected_position = marker_search.getPosition();
          removeMarkers();
          removeSearchMarkers();

          navigateOpen();
          marker_selected = new Tmapv2.Marker({
            position: selected_position,
            //icon : "http://tmapapi.sktelecom.com/upload/tmap/marker/pin_b_m_a.png",
            icon: "http://tmapapi.sktelecom.com/upload/tmap/marker/pin_r_m_e.png",

            iconSize: new Tmapv2.Size(24, 38),
            title: name,
            map: map,
          });
          marker_selectedArr.push(marker_selected);
        });
        marker_search_arr.push(marker_search);

        positionBounds.extend(markerPosition); // LatLngBounds의 객체 확장

        map.panToBounds(positionBounds); // 확장된 bounds의 중심으로 이동시키기
        map.zoomOut();
      },
      error: function (request, status, error) {
        console.log(
          "code:" +
            request.status +
            "\n" +
            "message:" +
            request.responseText +
            "\n" +
            "error:" +
            error
        );
      },
    });
  });

  //------ 경로 안내 ------//
  $("#btn_navigate").on("click", navigate);


  function navigate() {
    removeLine();
    navigateOpen();
    searchClose();

    const current = marker_s.getPosition();

    let start_lat = current._lat;
    let start_lon = current._lng;

    let end_lat, end_lon;
    if (searched) {
      end_lat = selected_position._lat;
      end_lon = selected_position._lng;
    } else {
      end_lat = lat_clicked;
      end_lon = lon_clicked;
    }

    let total_distance=0;
    let total_time=0;

    const data = {s_lat: start_lat, s_lon: start_lon, e_lat: end_lat, e_lon: end_lon}

    $.ajax({
      type:'POST',
      url:'http://127.0.0.1:8000/search/',
      data:JSON.stringify(data),
      success:function(json){
        console.log("data pass success" + end_lat,json);
    },
    error : function(xhr,errmsg,err) {
    console.log(xhr.status + ": " + xhr.responseText);
    }
    })
    const cctv_passing = {{ cctvs }};
    console.log(cctv_passing);

    var test_passList = []

    for(var i = 0; i < cctv_passing.length; i++) {
      test_passList.push(
        {
          id: cctv_passing[i][0],
          latitude: cctv_passing[i][2],
          longtitude: cctv_passing[i][1]
        })
      };

    console.log(test_passList)
    const tester = slicer(test_passList);
    console.log(tester);

    if (tester.length === 1) {
      let stringed_passList = stringer(tester[0]);
      $.ajax({
        method: "POST",
        url: "https://apis.openapi.sk.com/tmap/routes/pedestrian?version=1&format=json&callback=result",
        async: false,
        data: {
          appKey: "l7xx2eff6322cd2944cab62446d299f7f6e3",
          startX: start_lon,
          startY: start_lat,
          endX: end_lon,
          endY: end_lat,
          passList: stringed_passList,
          reqCoordType: "WGS84GEO",
          resCoordType: "EPSG3857",
          startName: "출발지",
          endName: "도착지",
        },
        success: (response) => {
          counter++;
          let resultData = response.features;

          //결과 출력
          total_distance += (resultData[0].properties.totalDistance / 1000).toFixed(1)

          total_time += (resultData[0].properties.totalTime / 60).toFixed(0)

          let tDistance = "총 거리 : " + total_distance + "km |";
          let tTime = " 총 시간 : " + total_time + "분";

          $("#result").text(tDistance + tTime);

          for (let i in resultData) {
            //for문 [S]
            let geometry = resultData[i].geometry;
            let properties = resultData[i].properties;
            let polyline_;

            if (geometry.type == "LineString") {
              for (let j in geometry.coordinates) {
                // 경로들의 결과값(구간)들을 포인트 객체로 변환
                let latlng = new Tmapv2.Point(
                  geometry.coordinates[j][0],
                  geometry.coordinates[j][1]
                );
                // 포인트 객체를 받아 좌표값으로 변환
                let convertPoint = new Tmapv2.Projection.convertEPSG3857ToWGS84GEO(
                  latlng
                );
                // 포인트객체의 정보로 좌표값 변환 객체로 저장
                let convertChange = new Tmapv2.LatLng(
                  convertPoint._lat,
                  convertPoint._lng
                );
                // 배열에 담기
                line_info_arr.push(convertChange);
              }
            } else {
              let markerImg = "";
              let pType = "";
              let size;

              if (properties.pointType === "S") {
                //출발지 마커
                markerImg =
                  "http://tmapapi.sktelecom.com/upload/tmap/marker/pin_r_m_s.png";
                pType = "S";
                size = new Tmapv2.Size(24, 38);
              } else if (properties.pointType === "E") {
                //도착지 마커
                markerImg =
                  "http://tmapapi.sktelecom.com/upload/tmap/marker/pin_r_m_e.png";
                pType = "E";
                size = new Tmapv2.Size(24, 38);
              } else {
                //각 포인트 마커
                markerImg = "http://topopen.tmap.co.kr/imgs/point.png";
                pType = "P";
                size = new Tmapv2.Size(8, 8);
              }

              // 경로들의 결과값들을 포인트 객체로 변환
              let latlon = new Tmapv2.Point(
                geometry.coordinates[0],
                geometry.coordinates[1]
              );

              // 포인트 객체를 받아 좌표값으로 다시 변환
              let convertPoint = new Tmapv2.Projection.convertEPSG3857ToWGS84GEO(
                latlon
              );

              let routeInfoObj = {
                markerImage: markerImg,
                lng: convertPoint._lng,
                lat: convertPoint._lat,
                pointType: pType,
              };

              // Marker 추가
              marker_points = new Tmapv2.Marker({
                position: new Tmapv2.LatLng(routeInfoObj.lat, routeInfoObj.lng),
                icon: routeInfoObj.markerImage,
                iconSize: size,
                map: map,
              });

              marker_points_arr.push(marker_points);
            }
          } //for문 [E]
          drawLine(line_info_arr);
        },
        error: (request, status, error) => {
          console.log(
            "code:" +
              request.status +
              "\n" +
              "message:" +
              request.responseText +
              "\n" +
              "error:" +
              error
          );
        },
      });
    }

    else {
    tester.forEach((e,i) => {
      setTimeout(() => {
        let stringed_passList = stringer(e);
        if (i === 0) {
          end_lat = tester[1][0].latitude;
          end_lon = tester[1][0].longtitude;
          $.ajax({
            method: "POST",
            url: "https://apis.openapi.sk.com/tmap/routes/pedestrian?version=1&format=json&callback=result",
            async: false,
            data: {
              appKey: "l7xx2eff6322cd2944cab62446d299f7f6e3",
              startX: start_lon,
              startY: start_lat,
              endX: end_lon,
              endY: end_lat,
              passList: stringed_passList,
              reqCoordType: "WGS84GEO",
              resCoordType: "EPSG3857",
              startName: "출발지",
              endName: "도착지",
            },
            success: (response) => {
              counter++;
              let resultData = response.features;

              //결과 출력
              total_distance += (resultData[0].properties.totalDistance / 1000)

              total_time += (resultData[0].properties.totalTime / 60)


              for (let i in resultData) {
                //for문 [S]
                let geometry = resultData[i].geometry;
                let properties = resultData[i].properties;
                let polyline_;

                if (geometry.type == "LineString") {
                  for (let j in geometry.coordinates) {
                    // 경로들의 결과값(구간)들을 포인트 객체로 변환
                    let latlng = new Tmapv2.Point(
                      geometry.coordinates[j][0],
                      geometry.coordinates[j][1]
                    );
                    // 포인트 객체를 받아 좌표값으로 변환
                    let convertPoint = new Tmapv2.Projection.convertEPSG3857ToWGS84GEO(
                      latlng
                    );
                    // 포인트객체의 정보로 좌표값 변환 객체로 저장
                    let convertChange = new Tmapv2.LatLng(
                      convertPoint._lat,
                      convertPoint._lng
                    );
                    // 배열에 담기
                    line_info_arr.push(convertChange);
                  }
                } else {
                  let markerImg = "";
                  let pType = "";
                  let size;

                  if (properties.pointType === "S") {
                    //출발지 마커
                    markerImg =
                      "http://tmapapi.sktelecom.com/upload/tmap/marker/pin_r_m_s.png";
                    pType = "S";
                    size = new Tmapv2.Size(24, 38);
                  } else if (properties.pointType === "E") {
                    //도착지 마커
                    markerImg =
                      "http://tmapapi.sktelecom.com/upload/tmap/marker/pin_r_m_e.png";
                    pType = "E";
                    size = new Tmapv2.Size(24, 38);
                  } else {
                    //각 포인트 마커
                    markerImg = "http://topopen.tmap.co.kr/imgs/point.png";
                    pType = "P";
                    size = new Tmapv2.Size(8, 8);
                  }

                  // 경로들의 결과값들을 포인트 객체로 변환
                  let latlon = new Tmapv2.Point(
                    geometry.coordinates[0],
                    geometry.coordinates[1]
                  );

                  // 포인트 객체를 받아 좌표값으로 다시 변환
                  let convertPoint = new Tmapv2.Projection.convertEPSG3857ToWGS84GEO(
                    latlon
                  );

                  let routeInfoObj = {
                    markerImage: markerImg,
                    lng: convertPoint._lng,
                    lat: convertPoint._lat,
                    pointType: pType,
                  };

                  // Marker 추가
                  marker_points = new Tmapv2.Marker({
                    position: new Tmapv2.LatLng(routeInfoObj.lat, routeInfoObj.lng),
                    icon: routeInfoObj.markerImage,
                    iconSize: size,
                    map: map,
                  });

                  marker_points_arr.push(marker_points);
                }
              } //for문 [E]
              //drawLine(line_info_arr);
            },
            error: (request, status, error) => {
              console.log(
                "code:" +
                  request.status +
                  "\n" +
                  "message:" +
                  request.responseText +
                  "\n" +
                  "error:" +
                  error
              );
            },
          });
        }
        else if(i !== 0 && i !== tester.length-1){
          start_lat = e[0].latitude;
          start_lon = e[0].longtitude;
          end_lat = tester[i+1][0].latitude;
          end_lon = tester[i+1][0].longtitude;
          $.ajax({
            method: "POST",
            url: "https://apis.openapi.sk.com/tmap/routes/pedestrian?version=1&format=json&callback=result",
            async: false,
            data: {
              appKey: "l7xx2eff6322cd2944cab62446d299f7f6e3",
              startX: start_lon,
              startY: start_lat,
              endX: end_lon,
              endY: end_lat,
              passList: stringed_passList,
              reqCoordType: "WGS84GEO",
              resCoordType: "EPSG3857",
              startName: "출발지",
              endName: "도착지",
            },
            success: (response) => {
              counter++;
              let resultData = response.features;

              //결과 출력
              total_distance += (resultData[0].properties.totalDistance / 1000)

              total_time += (resultData[0].properties.totalTime / 60)


              for (let i in resultData) {
                //for문 [S]
                let geometry = resultData[i].geometry;
                let properties = resultData[i].properties;
                let polyline_;

                if (geometry.type == "LineString") {
                  for (let j in geometry.coordinates) {
                    // 경로들의 결과값(구간)들을 포인트 객체로 변환
                    let latlng = new Tmapv2.Point(
                      geometry.coordinates[j][0],
                      geometry.coordinates[j][1]
                    );
                    // 포인트 객체를 받아 좌표값으로 변환
                    let convertPoint = new Tmapv2.Projection.convertEPSG3857ToWGS84GEO(
                      latlng
                    );
                    // 포인트객체의 정보로 좌표값 변환 객체로 저장
                    let convertChange = new Tmapv2.LatLng(
                      convertPoint._lat,
                      convertPoint._lng
                    );
                    // 배열에 담기
                    line_info_arr.push(convertChange);
                  }
                }
                else {
                  let markerImg = "";
                  let pType = "";
                  let size;

                  if (properties.pointType === "S") {
                    //출발지 마커
                    markerImg =
                      "http://tmapapi.sktelecom.com/upload/tmap/marker/pin_r_m_s.png";
                    pType = "S";
                    size = new Tmapv2.Size(24, 38);
                  } else if (properties.pointType === "E") {
                    //도착지 마커
                    markerImg =
                      "http://tmapapi.sktelecom.com/upload/tmap/marker/pin_r_m_e.png";
                    pType = "E";
                    size = new Tmapv2.Size(24, 38);
                  } else {
                    //각 포인트 마커
                    markerImg = "http://topopen.tmap.co.kr/imgs/point.png";
                    pType = "P";
                    size = new Tmapv2.Size(8, 8);
                  }

                  // 경로들의 결과값들을 포인트 객체로 변환
                  let latlon = new Tmapv2.Point(
                    geometry.coordinates[0],
                    geometry.coordinates[1]
                  );

                  // 포인트 객체를 받아 좌표값으로 다시 변환
                  let convertPoint = new Tmapv2.Projection.convertEPSG3857ToWGS84GEO(
                    latlon
                  );

                  let routeInfoObj = {
                    markerImage: markerImg,
                    lng: convertPoint._lng,
                    lat: convertPoint._lat,
                    pointType: pType,
                  };

                  // Marker 추가
                  marker_points = new Tmapv2.Marker({
                    position: new Tmapv2.LatLng(routeInfoObj.lat, routeInfoObj.lng),
                    icon: routeInfoObj.markerImage,
                    iconSize: size,
                    map: map,
                  });

                  marker_points_arr.push(marker_points);
                }
              } //for문 [E]
              //drawLine(line_info_arr);
            },
            error: (request, status, error) => {
              console.log(
                "code:" +
                  request.status +
                  "\n" +
                  "message:" +
                  request.responseText +
                  "\n" +
                  "error:" +
                  error
              );
            },
          });
        }
        else {
          start_lat = e[0].latitude;
          start_lon = e[0].longtitude;
          if (searched) {
            end_lat = selected_position._lat;
            end_lon = selected_position._lng;
          } else {
            end_lat = lat_clicked;
            end_lon = lon_clicked;
          }
          $.ajax({
            method: "POST",
            url: "https://apis.openapi.sk.com/tmap/routes/pedestrian?version=1&format=json&callback=result",
            async: false,
            data: {
              appKey: "l7xx2eff6322cd2944cab62446d299f7f6e3",
              startX: start_lon,
              startY: start_lat,
              endX: end_lon,
              endY: end_lat,
              passList: stringed_passList,
              reqCoordType: "WGS84GEO",
              resCoordType: "EPSG3857",
              startName: "출발지",
              endName: "도착지",
            },
            success: (response) => {
              counter++;
              let resultData = response.features;

              //결과 출력
              total_distance += (resultData[0].properties.totalDistance / 1000)
              total_time += (resultData[0].properties.totalTime / 60)



              for (let i in resultData) {
                //for문 [S]
                let geometry = resultData[i].geometry;
                let properties = resultData[i].properties;
                let polyline_;

                if (geometry.type == "LineString") {
                  for (let j in geometry.coordinates) {
                    // 경로들의 결과값(구간)들을 포인트 객체로 변환
                    let latlng = new Tmapv2.Point(
                      geometry.coordinates[j][0],
                      geometry.coordinates[j][1]
                    );
                    // 포인트 객체를 받아 좌표값으로 변환
                    let convertPoint = new Tmapv2.Projection.convertEPSG3857ToWGS84GEO(
                      latlng
                    );
                    // 포인트객체의 정보로 좌표값 변환 객체로 저장
                    let convertChange = new Tmapv2.LatLng(
                      convertPoint._lat,
                      convertPoint._lng
                    );
                    // 배열에 담기
                    line_info_arr.push(convertChange);
                  }
                } else {
                  let markerImg = "";
                  let pType = "";
                  let size;

                  if (properties.pointType === "S") {
                    //출발지 마커
                    markerImg =
                      "http://tmapapi.sktelecom.com/upload/tmap/marker/pin_r_m_s.png";
                    pType = "S";
                    size = new Tmapv2.Size(24, 38);
                  } else if (properties.pointType === "E") {
                    //도착지 마커
                    markerImg =
                      "http://tmapapi.sktelecom.com/upload/tmap/marker/pin_r_m_e.png";
                    pType = "E";
                    size = new Tmapv2.Size(24, 38);
                  } else {
                    //각 포인트 마커
                    markerImg = "http://topopen.tmap.co.kr/imgs/point.png";
                    pType = "P";
                    size = new Tmapv2.Size(8, 8);
                  }

                  // 경로들의 결과값들을 포인트 객체로 변환
                  let latlon = new Tmapv2.Point(
                    geometry.coordinates[0],
                    geometry.coordinates[1]
                  );

                  // 포인트 객체를 받아 좌표값으로 다시 변환
                  let convertPoint = new Tmapv2.Projection.convertEPSG3857ToWGS84GEO(
                    latlon
                  );

                  let routeInfoObj = {
                    markerImage: markerImg,
                    lng: convertPoint._lng,
                    lat: convertPoint._lat,
                    pointType: pType,
                  };

                  // Marker 추가
                  marker_points = new Tmapv2.Marker({
                    position: new Tmapv2.LatLng(routeInfoObj.lat, routeInfoObj.lng),
                    icon: routeInfoObj.markerImage,
                    iconSize: size,
                    map: map,
                  });

                  marker_points_arr.push(marker_points);
                }
              } //for문 [E]
              drawLine(line_info_arr);
              let tDistance = "총 거리 : " + total_distance.toFixed(1) + "km |";
              let tTime = " 총 시간 : " + total_time.toFixed(0) + "분";

              $("#result").text(tDistance + tTime);
            },
            error: (request, status, error) => {
              console.log(
                "code:" +
                  request.status +
                  "\n" +
                  "message:" +
                  request.responseText +
                  "\n" +
                  "error:" +
                  error
              );
            },
          });
        }
      },450 * (i + 1))
      })
    }

  }


  // 경유지를 최대 5개씩 묶음
  const slicer = (arr) => {
    let sliced = []
    let sliced_arr = []
    for (let i = 1; i < arr.length+1; i++){

      if (i % 5 !== 0) sliced.push(arr[i-1])
      else {sliced.push(arr[i-1]);
            sliced_arr.push(sliced);
             sliced = []}
    }

    sliced.length === 0 ? null : sliced_arr.push(sliced)

    return sliced_arr;
  }

  // 경유지 리스트를 스트링으로 변환
  const stringer = (arr) => {
    let stringed = '';
    arr.forEach(e => {
      stringed += e.longtitude;
      stringed += ',';
      stringed += e.latitude;
      stringed += '_';
    })

    stringed = stringed.slice(0,-1);

    return stringed
  }

  const cctvSwitch = () => {
    if (onoff === 1) { onoff = 0; removeCCTVMarkers(); btn_cctv_onoff.innerText = 'CCTV 보이기'}
    else { onoff = 1; activateCCTVMarkers(); btn_cctv_onoff.innerText = 'CCTV 가리기'}

  }

  const activateCCTVMarkers = () => {
    coords.forEach((e, i) => {
      let lat = Number(e.latitude);
      let lon = Number(e.longtitude);
      let name = e.address;

      let markerPosition = new Tmapv2.LatLng(lat, lon);

      //Marker 객체 생성.
      const marker_cctv = new Tmapv2.Marker({
        position: markerPosition, //Marker의 중심좌표 설정.
        icon: "https://cdn2.iconfinder.com/data/icons/wsd-map-markers-2/512/wsd_markers_89-1024.png",
        iconSize: new Tmapv2.Size(24, 24),
        map: map, //Marker가 표시될 Map 설정.
        title: name, //Marker 타이틀.
        index: i,
      });
      marker_cctv.setMap(map);
      marker_cctv_arr.push(marker_cctv);
    });
  }

  const drawLine = (arrPoint) => {
    let polyline_;

    polyline_ = new Tmapv2.Polyline({
      path: arrPoint,
      strokeColor: "#DD0000",
      strokeWeight: 6,
      map: map,
    });
    line_result_arr.push(polyline_);
  };

  const removeMarkers = () => {
    for (let i = 0; i < markers.length; i++) {
      markers[i].setMap(null);
    }
    for (let i = 0; i < marker_selectedArr.length; i++) {
      marker_selectedArr[i].setMap(null);
    }
    marker_selectedArr = [];
    markers = [];
  };

  const removeSearchMarkers = () => {
    for (let i in marker_search_arr) {
      marker_search_arr[i].setMap(null);
    }
    marker_search_arr = [];
  };

  const removeCCTVMarkers = () => {
    for (let i in marker_cctv_arr) {
      marker_cctv_arr[i].setMap(null);
    }
    marker_cctv_arr = [];
  }

  const removeLine = () => {
    for (let i in line_result_arr) {
      line_result_arr[i].setMap(null);
    }
    line_result_arr = [];

    for (let i in marker_points_arr) {
      marker_points_arr[i].setMap(null);
    }
    marker_points_arr = [];

    line_info_arr = [];

    $("#result").text("");
  };

  const removeAll = () => {
    removeMarkers();
    removeLine();
    removeSearchMarkers();
    search_result.innerHTML = "";
  };

</script>

